<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel='stylesheet' href='public/css/normalize.css'>
        <link rel='stylesheet' href='public/css/demo.css'>
        <link rel='stylesheet' href='dist/css/ng-input.css'>
        <link rel="stylesheet" href="public/components/mdi/css/materialdesignicons.min.css" media='all'>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js'></script>
        <script src='dist/ng-input.js'></script>
        <script src='public/js/app.js'></script>
    </head>
    <body ng-app='app'>
        <div class='container' ng-controller='AppController'>
            <header class='codrops-header'>
            <h1><b><</b>ng-input<b>></b></h1>
            <h2>Text Input Effects from <a href="http://tympanus.net/codrops/?p=21991">Codrops</a> for <span>Angular directives</span></h2>

            <hr>
            <h2>
                <a href="https://github.com/cesardeazevedo/ng-input">fork ng-input on github</a>
                <iframe src="https://ghbtns.com/github-btn.html?user=cesardeazevedo&repo=ng-input&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
            </h2>
            <h1>Install</h1>
            <p>Install using bower</p>
            <pre>$ bower install ng-input</pre>
            <p>Install using npm</p>
            <pre>$ npm install ng-input</pre>
            <h1>Usage</h1>
            <p>Inject the ngInput module</p>
            <pre>angular.module('app', ['ngInput']);</pre>
            <pre><b><</b>ng-input theme='haruki' label='First Name' ng-model='first_name'<b>><</b>/ng-input<b>></b></pre>
            <br>
            <h1>Themes</h1>
            <h2>Codrops Themes</h2>
            <a href="http://tympanus.net/codrops/?p=21991" target="_BLANK">check article at Codrops</a>
            </header>
            <section class='content bgcolor-1'>
                <h2 class='nomargin-bottom'>
                    Haruki
                </h2>
                <form method='POST'>
                    <ng-input theme='haruki' ng-change='change()'  label='First Name' ng-model='first_name' name='name_first_name' ng-required='true'></ng-input>
                    <ng-input theme='haruki' ng-change='change2()' label='Last Name' ng-model='last_name' name='name_last_name' ng-required='true'></ng-input>
                    <ng-input theme='haruki' ng-change='change3()' type='email' label='Email' ng-model='email' ng-required='true'></ng-input>
                    <br>
                    <br>
                    <button type='submit'>REQUIRED TEST SUBMIT</button>
                </form>
                <small>{{ first_name }}</small>
                <small>{{ last_name }}</small>
                <br>
                <small>{{ email }}</small>
                <br>
            </section>
            <section class='content'>
                <h2>Hoshi</h2>
                <ng-input theme='hoshi' label='Name'></ng-input>
                <ng-input theme='hoshi' label='Street' color='2'></ng-input>
                <ng-input theme='hoshi' label='Town' color='3'></ng-input>
                <br>
                <p>Inspired by Andrej Radisic's <a href='https://dribbble.com/shots/1785176-Jawbreaker-input-field'>Jawbreaker input field</a></p>
            </section>
            <section class='content bgcolor-4'>
                <h2>Kuro</h2>
                <ng-input theme='kuro' label='Username'></ng-input>
                <ng-input theme='kuro' label='Website'></ng-input>
                <ng-input theme='kuro' label='Invitation Code'></ng-input>
            </section>
            <section class='content bgcolor-7'>
                <h2>Jiro</h2>
                <ng-input theme='jiro' label='Cat`s Name'></ng-input>
                <ng-input theme='jiro' label='Dog`s Name'></ng-input>
                <ng-input theme='jiro' label='Hamster`s Name'></ng-input>
            </section>
            <section class='content'>
                <h2>Minoru</h2>
                <ng-input theme='minoru' label='First Name'></ng-input>
                <ng-input theme='minoru' label='Middle Name'></ng-input>
                <ng-input theme='minoru' label='Last Name'></ng-input>
            </section>
            <section class='content bgcolor-5'>
                <h2>Yoko</h2>
                <ng-input theme='yoko' label='Street'></ng-input>
                <ng-input theme='yoko' label='City'></ng-input>
                <ng-input theme='yoko' label='Region'></ng-input>
            </section>
            <section class='content'>
                <h2>Hideo</h2>
                <ng-input theme='hideo' label='Username' icon='icon icon--hideo mdi mdi-account'></ng-input>
                <ng-input theme='hideo' label='Email' icon='icon icon--hideo mdi mdi-message-text'></ng-input>
                <ng-input theme='hideo' label='Password' icon='icon icon--hideo mdi mdi-lock'></ng-input>
            </section>
            <section class='content bgcolor-3'>
                <h2>Kyo</h2>
                <ng-input theme='kyo' label='What`s your email?'></ng-input>
            </section>
            <section class='content bgcolor-4'>
                <h2>Akira</h2>
                <ng-input theme='akira' label='First Name'></ng-input>
                <ng-input theme='akira' label='Last Name'></ng-input>
                <ng-input theme='akira' label='Maide Name'></ng-input>
            </section>
            <section class='content'>
                <h2>Ichiro</h2>
                <ng-input theme='ichiro' label='Birds Color'></ng-input>
                <ng-input theme='ichiro' label='Wing Span'></ng-input>
                <ng-input theme='ichiro' label='Beak Length'></ng-input>
            </section>
            <section class='content bgcolor-6'>
                <h2>Juro</h2>
                <ng-input theme='juro' label='First Name'></ng-input>
                <ng-input theme='juro' label='Last Name'></ng-input>
                <ng-input theme='juro' label='Maiden Name'></ng-input>
            </section>
            <section class='content bgcolor-4'>
                <h2>Madoka</h2>
                <ng-input theme='madoka' label='Frequency'></ng-input>
                <ng-input theme='madoka' label='Weight'></ng-input>
                <ng-input theme='madoka' label='Strength'></ng-input>
            </section>
            <section class='content'>
                <h2>Kaede</h2>
                <ng-input theme='kaede' label='First Name'></ng-input>
                <ng-input theme='kaede' label='Last Name'></ng-input>
                <ng-input theme='kaede' label='Website'></ng-input>
            </section>
            <section class='content bgcolor-8'>
                <h2>Isao</h2>
                <ng-input theme='isao' label='First Name'></ng-input>
                <ng-input theme='isao' label='Middle Name'></ng-input>
                <ng-input theme='isao' label='Last Name'></ng-input>
            </section>
            <section class='content bgcolor-3'>
                <h2>Manami</h2>
                <ng-input theme='manami' label='Username'></ng-input>
                <ng-input theme='manami' label='Website'></ng-input>
                <ng-input theme='manami' type='email' label='Invitation Code'></ng-input>
            </section>
            <section class='content bgcolor-7'>
                <h2>Nariko</h2>
                <ng-input theme='nariko' label='First Name'></ng-input>
                <ng-input theme='nariko' label='Middle Name'></ng-input>
                <ng-input theme='nariko' label='Last Name'></ng-input>
                <br>
                <p>Inspired by Andrej Radisic's <a href='https://dribbble.com/shots/1785176-Jawbreaker-input-field'>Jawbreaker input field</a></p>
            </section>
            <section class='content bgcolor-1'>
                <h2>Nao</h2>
                <ng-input theme='nao' label='Street'></ng-input>
                <ng-input theme='nao' label='City'></ng-input>
                <ng-input theme='nao' label='Region'></ng-input>
            </section>
            <section class='content'>
                <h2>Yoshiko</h2>
                <ng-input theme='yoshiko' label="Bird's Color "></ng-input>
                <ng-input theme='yoshiko' label='Wing Span'></ng-input>
                <ng-input theme='yoshiko' label='Beak Length'></ng-input>
            </section>
            <section class='content bgcolor-10'>
                <h2>Shoko</h2>
                <ng-input theme='shoko' label='Player Name'></ng-input>
                <ng-input theme='shoko' label='Village'></ng-input>
                <ng-input theme='shoko' label='World'></ng-input>
            </section>
            <section class='content bgcolor-4'>
                <h2>Chisato</h2>
                <ng-input theme='chisato' label='First Name'></ng-input>
                <ng-input theme='chisato' label='Middle Name'></ng-input>
                <ng-input theme='chisato' label='Last Name'></ng-input>
            </section>
            <section class='content bgcolor-3'>
                <h2>Makiko</h2>
                <ng-input theme='makiko' label='Search'></ng-input>
            </section>
            <section class='content bgcolor-9'>
                <h2>Sae</h2>
                <ng-input theme='sae' label='Email Address' icon='icon icon--sae mdi mdi-pencil'></ng-input>
                <ng-input theme='sae' label='Invitation Code' icon='icon icon--sae mdi mdi-pencil'></ng-input>
                <ng-input theme='sae' label='Full Name' icon='icon icon--sae mdi mdi-pencil'></ng-input>
                <br>
            </section>
            <section class='content bgcolor-4'>
                <h2>Kozakura</h2>
                <ng-input theme='kozakura' label='Name'></ng-input>
                <ng-input theme='kozakura' label='Email'></ng-input>
                <ng-input theme='kozakura' label='Website'></ng-input>
            </section>
            <section class='content bgcolor-1'>
                <h2>Fumi</h2>
                <ng-input theme='fumi' label='Course Name' icon='icon icon--fumi mdi mdi-book-open'></ng-input>
                <ng-input theme='fumi' label='Degree' icon='icon icon--fumi mdi mdi-school'></ng-input>
                <ng-input theme='fumi' label='Work Place' icon='icon icon--fumi mdi mdi-briefcase'></ng-input>
            </section>
            <section class='content bgcolor-4'>
                <h2>Ruri</h2>
                <ng-input theme='ruri' label='Username'></ng-input>
                <ng-input theme='ruri' label='Website'></ng-input>
                <ng-input theme='ruri' label='Invitation Code'></ng-input>
            </section>
            <section class='content bgcolor-3'>
                <h2>Kohana</h2>
                <ng-input theme='kohana' label='Time' icon='icon icon--kohana mdi mdi-timelapse'></ng-input>
                <ng-input theme='kohana' label='Line' icon='icon icon--kohana mdi mdi-car' ></ng-input>
                <ng-input theme='kohana' label='Phone' icon='icon icon--kohana mdi mdi-phone'></ng-input>
            </section>
        </div><!-- /container -->
    </body>
</html>
